body {
    margin:0;
    padding:0;
    background-color: cornflowerblue;
    padding-bottom: 50px;
    font-family: 'Fjalla One', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin:1em;
}

li:hover {
    cursor: pointer;
}

#myName {
    text-align: center;
}

#navLinks {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: -1em;
}
.bioBit {
    background-color: aliceblue;
    padding: 1em;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: space-around;
}

#bioPage {
    display: block;
}
.projectCard {
    background-color: cornflowerblue;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    padding: 2em;
    border-bottom: 1px dashed lightblue;
}

.projectTitle {
    font-size: 1.85em;
    font-weight: bold;
}

hr {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px black inset;
}

.projectScreenshot {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5%;
}

.hrUp {
    box-shadow: 0 -10px 10px -10px black inset;
}

.page-footer {
    margin-top: 3em;
    background-color: lightblue;
    position: fixed;
    width:100%;
    bottom:0px;
    border-top: 2px solid black;
}

#contacts {
    display: flex;
    width:100%;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin-right: 5em;
}
.contact {
    margin:auto;
    margin-top: .5em;
}

#socialContact {
    display:flex;
    margin-bottom: .5em;
}

.fab {
    padding-top: .25em;
}


/*////////////// MEDIA QUERIES ///////////*/


/*///////////TABLETS////////////*/
@media (min-width: 600px) {
    body {
        padding-bottom: 150px;
        background-color: rgb(83, 126, 204);
    }

    #myName {
        font-size: 2em;
    }

    .projectCard {
        margin: 1em;
        border: 2px solid black;
        border-radius: 5%;
        box-shadow: -3px 3px 0px rgb(165, 189, 233), 
                    -5px 5px 0px rgb(78, 103, 150),
                    -7px 7px 0px rgb(64, 95, 151),
                    -9px 9px 0px darkgrey, 
                    -12px 12px 0px black;
    }

}


/*//////////////////COMPUTER ///////////////////*/
@media (min-width: 800px) {

    #myName {
        font-size: 3em;
    }

    #navLinks {
        font-size: 2em;
    }

    .projectCard {
        min-width: 200px;
        max-width: 500px;
        width: 33%;
        margin: 1.5em;
    }

    .page-footer {
        margin-top: 3em;
        background-color: lightblue;
        position: fixed;
        width:100%;
        bottom:0px;
        border-top: 2px solid black;
    }

    #contacts {
        flex-flow: wrap row;
    }

    .contact {
        margin: auto;
        margin-right: 1em;
        margin-left: 1em;
        
    }
    

}